{% extends "_calc.html" %}
{% block title %}Вычисление фокусного расстояния{% endblock %}
{% block calc_input %}
<form id="focal_length_calc-input">
    <div class="form-group">
        <label for="flc-matrix_format">Формат матрицы</label>
        <div class="input-group">
            <select class="form-control" name="matrix_format" id="flc-matrix_format">
                <option value="other">Другое</option>
                <option value="1/4">1/4&Prime;</option>
                <option value="1/3">1/3&Prime;</option>
                <option value="1/2.3">1/2.3&Prime;</option>
                <option value="1/2" selected>1/2&Prime;</option>
                <option value="1/1.8">1/1.8&Prime;</option>
                <option value="2/3">2/3&Prime;</option>
                <option value="1/1.2">1/1.2&Prime;</option>
                <option value="1">1&Prime;</option>
                <option value="1.1">1.1&Prime;</option>
                <option value="4/3">4/3&Prime;</option>
                <option value="22">22mm</option>
                <option value="43">43mm</option>
            </select>
            <input type="number" name="matrix_format_width" id="flc-matrix_format-width" class="form-control col-2"
                   placeholder="Ширина"
                   step="0.01">
            <input type="number" name="matrix_format_height" id="flc-matrix_format-height" class="form-control col-2"
                   placeholder="Высота"
                   step="0.01">
            <div class="input-group-append">
                <span class="input-group-text">мм</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="flc-distance">Расстояние до объекта</label>
        <div class="input-group">
            <input type="number" name="distance" id="flc-distance" class="form-control" placeholder="">
            <div class="input-group-append">
                <select class="form-control input-group-text" name="distance_unit" id="flc-distance_unit">
                    <option value="1">мм</option>
                    <option value="1000">м</option>
                    <option value="1000000">км</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="flc-fov_width">Ширина поля обзора</label>
        <div class="input-group">
            <input type="number" name="fov_width" id="flc-fov_width" class="form-control" placeholder="">
            <div class="input-group-append">
                <select class="form-control input-group-text" name="fov_width_unit" id="flc-fov_width_unit">
                    <option value="1">мм</option>
                    <option value="1000">м</option>
                    <option value="1000000">км</option>
                </select>
            </div>
        </div>
    </div>
    <input class="form-control btn btn-primary" type="submit" value="Рассчитать">
</form>
{% endblock %}
{% block calc_output %}
<form id="focal_length_calc-output" class="mb-5">
    <div class="form-group">
        <label for="flc-focal_len">Фокусное расстояние объектива</label>
        <div class="input-group">
            <input type="number" name="focal_len" id="flc-focal_len" class="form-control" placeholder="" readonly>
            <div class="input-group-append">
                <span class="input-group-text">мм</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="flc-maximum_fov">Угол обзора по горизонтали (FOV)</label>
        <div class="input-group">
            <input type="text" class="form-control" name="maximum_fov" id="flc-maximum_fov" readonly>
            <div class="input-group-append">
                <span class="input-group-text">&deg;</span>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block js %}
<script src="round10.js"></script>
<script src="constants.js"></script>
<script>
    (function () {
        var selectors = {
            "flc-matrix_format": matrixes,
        }
        function onSelectorChanged(e) {
            var selector = this,
                width_field = document.getElementById(selector.id + "-width"),
                height_field = document.getElementById(selector.id + "-height");
            height_field.readOnly = width_field.readOnly = (selector.value !== "other")

            if (selector.value !== "other") {
                width_field.value = selector.calc_selectorValues[selector.value].w
                height_field.value = selector.calc_selectorValues[selector.value].h
            }
        }

        for (var key in selectors) {
            var element = document.getElementById(key);
            element.calc_selectorValues = selectors[key];
            element.addEventListener("change", onSelectorChanged);
            var changeEvent = new Event('change', {
                'bubbles': true,
                'cancelable': true
            });
            element.dispatchEvent(changeEvent);
        }
    })();
</script>
<script>
    document.getElementById('focal_length_calc-input').addEventListener("submit", function (e) {
        e.preventDefault()

        this.matrix_format_width.value;
        this.matrix_format_height.value;
        var distance = this.distance.value * this.distance_unit.value;
        var fov_width = this.fov_width.value * this.fov_width_unit.value;

        form_out = document.getElementById('focal_length_calc-output')
        form_out.focal_len.value = Math.round10(distance / (fov_width / this.matrix_format_width.value + 1), -2);

        form_out.maximum_fov.value = Math.round10(2 * Math.atan((this.matrix_format_width.value / 2) / (distance * this.matrix_format_width.value / fov_width)) * 180 / Math.PI, -2)

        form_out.scrollIntoView({behavior: "smooth", block: "start"})
    })
</script> {% endblock %}